{% extends 'client/home_page.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="registration-form">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for f in form %}
      <div class="form-group">
        <label for="">{{f.label}}:</label>&nbsp;&nbsp;
        {{f}}
        {% if f.errors %}
        <div class="error-message">
          {{f.errors}}
        </div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
  </form>
</div>
{% endblock %}
